body{
position:relative;
padding:100px;
}                                 
#loginform
{
width:550px;
height:auto;
position:relative;
margin: auto;
}
input
{
display:block;
margin:0px auto 15px;
border-radius:5px;
background: #3333335b;
width:85%;
padding:12px 20px 12px 10px;
border:none;
color:#929999;                       
box-shadow:inset 0px 1px 5px #272727;
font-size:0.8em;
transition:0.5s ease; 
}
input:focus
{
transition:0.5s ease;  
box-shadow: 0px 0px 5px 1px #000000;
}
button
{
border:10px solid #22252694;
font-size:0.9em;
color:#fff;
font-weight:bold;
cursor:pointer;
position:absolute;
text-align:center;
transition:0.5s ease;
}
 *:focus{
    outline:none;
} 
h1
{
text-align:center;
font-size: 16px;
padding:12px 0px;
}
